.draw-field {
  width: 500px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hint {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 500px;
  height: 502px;
  background-color: rgba(255, 34, 34, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.hint .text {
  color: black;
}

.hint .start {
  margin: 5px;
  width: 20%;
  padding: 5px;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 17px;
  background-color: rgba(255, 8, 8, 0.39);
}

.top {
  height: 5%;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  background-color: rgba(255, 34, 34, 0.7);
}

canvas {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 100%;
  outline: none;
  padding: 5px;
  background-color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

.clear {
  margin-right: 10px;
}

.button:hover {
  background-color: #f22;
  color: white;
}
