.header {
  height: 50px;
  width: 100%;
  background-color: #e86d6d;
  border-bottom: 1px solid #e65a5a;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
}
