{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <title>Digits classifier frontend</title>
    <link href="{% static "classifier/main.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="{% static "classifier/main.js" %}"></script>
</body>
</html>
